
body {
    margin: 0;
    padding: 0;
  }
  /* header................. */

nav {
    position: relative;
}


.hamburger-icon {
    display: none;
    position: absolute;
    top: 25px;
    right: 15px;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    z-index: 1001;  
}

@media (max-width: 768px) {
    .center-nav,
    .right-nav {
        display: none;
        position: absolute;
        top: 80px;
        right: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        flex-direction: column;
        align-items: center;
        padding: 20px;
        z-index: 1000;
    }
    .btn{
        display: none;
    }
    input{
        display: none;
    }
    .center-nav ul {
        flex-direction: column;
        gap: 15px;
    }

    .hamburger-icon {
        display: block;
    }

    .center-nav.active,
    .right-nav.active {
        display: flex;
    }
}

  /* Services Section ................. */
  @media (max-width: 1024px) {
    .services-container {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
  }
  
  @media (max-width: 600px) {
    .services-container {
      grid-template-columns: 1fr;
      padding: 20px;
    }
  
    .service-card h2 {
      font-size: 1.5rem;
    }
  
    .service-card p {
      font-size: 0.9rem;
    }
  }
  
  /* Footer .................... */

  @media (max-width: 480px) {
    .quick-links li a {
      font-size: 16px;
    }
    .quick-links {
      flex-direction: column;
      align-items: center;
    }
    
    .social-icons a {
      font-size: 20px;
    }
  
    /* .btn {
      font-size: 0.9rem;
      padding: 8px;
    } */
  }
 
  @media (max-width: 400px) {
    .footer::before,
    .footer::after {
      width: 100px;
      height: 100px;
    }
  }
  